@{
    ViewData["Title"] = "Home Page";
}

@model Product

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffeshop! Enjoy your stay.</h1>
    <br />
    <p>Click <a href="https://localhost:7158/Home/RegisterForm">here</a> to login or register</p>
    <br />
    <p>Click <a href="https://localhost:7158/Home/ProductList">here</a> to see details on all our products.</p>
</div>
