@{
    ViewData["Title"] = "Home Page";
}

@model Product

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffeshop! Enjoy your stay.</h1>
    <br />
    <p>Click <a href="https://localhost:7158/Home/RegisterForm">here</a> to login or register</p>
    <br />
    <p>1) <a href="https://localhost:7158/Home/Product1Details">Fruit</a> details</p>
    <p>2) <a href="https://localhost:7158/Home/Product2Details">Coffee</a> details</p>
    <p>3) <a href="https://localhost:7158/Home/Product3Details">Puff Pastry</a> details</p>
    <p>4) <a href="https://localhost:7158/Home/Product4Details">Tea</a> details</p>
    <br />
    <p>Click <a href="https://localhost:7158/Home/ProductList">here</a> to see details on all our products.</p>
</div>
