@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a href="https://localhost:7158/Home/RegisterForm">here </a>to login or register</p>
</div>
