@model IEnumerable<Product>

@foreach(Product p in Model)
{
    <div>

        <p> @p.Id) <a asp-action="ProductDetails" asp-route-Name="@p.Name" asp-controller="Home">@p.Name</a> </p>
        <p> Price: $ @p.Price</p>
        <br/>

    </div>
}



   