@model IEnumerable<Product>

@foreach(Product p in Model){
    <div>
        <p> @p.Id) @p.Name</p>
        <p> Price: $ @p.Price</p>
        <p> -@p.Description</p>
        <br />
    </div>
}



   